version: "3.8"

services:
  books-client:
    build: ./frontend
    ports: 
      - "3000:80"
    depends_on:
      - books-api
    networks:
      - app-network
  books-api:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/books_db
    depends_on:
      - mongo
    networks:
      - app-network
  mongo:
    image: mongo:6
    container_name: mongo_books_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge