apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: books-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: steftsk/books-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: backend-config
        - secretRef:
            name: backend-secret
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: books-app
spec:
  selector:
    app: backend
  ports:
  - port: 8000
    targetPort: 8000